<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <header class="container">
    <h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
    </header>
    <main>
      <section class="container-transparent">

        <section class="container">
          <h2><%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP</h2>
          <img src="images/heart.png" class="heart-img">
        </section>

        <section class="container">
          <h2><%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP</h2>
          <img src="images/heart.png" class="heart-img">
        </section>

        <section class="container">
          <h2><%= @game.current_turn.name %>'s turn</h2>
        </section>

        <section class="container">
            <a href="/attack">
              <button class="btn">
                Attack!
              </button>
            </a>
        </section>
        
      </section>
    </main>
  </body>
</html>